
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Share.cshtml";
}
<div class="page-heading page-heading-md">
    <h2 class="header__main"><span class="breadcrumb"><i class="fa fa-home"></i> </span><span class="title">Trang chủ</span></h2>
    <div class="header-right">

    </div>
</div>
<div class="page-body-render" bind-event-click="navDrawer.close()">
    <style type="text/css">
        .rssFeedDisplay {
            height: 355px;
            overflow: hidden;
        }

        .item {
            background-image: url("/assets/Images/admin.png");
            background-position: 2px 10px;
            background-repeat: no-repeat;
            border-bottom: 1px solid #e8e8e8 !important;
            line-height: 25px;
            padding-left: 12px;
        }

        .metric-content {
            display: block;
        }

        .img-responsive {
            display: inline-block;
        }

        .marketing-banner {
            background: url("/themes/portal/admin/images/banner_zalo.jpg") no-repeat center center;
            margin-left: -20px;
            margin-right: -20px;
            text-align: center;
            height: 90px;
        }
    </style>
    <div class="container-fluid-md">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="panel panel-metric panel-metric-sm">
                    <div class="panel-body panel-body-primary">
                        <a class="metric-content metric-icon" href="/admin/orders">
                            <div class="value">
                                56
                            </div>
                            <div class="icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <header>
                                <h3 class="thin">Đơn hàng</h3>
                            </header>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="panel panel-metric panel-metric-sm">
                    <div class="panel-body panel-body-success">
                        <a class="metric-content metric-icon" href="/admin/customers">
                            <div class="value">
                                19
                            </div>
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <header>
                                <h3 class="thin">Khách hàng</h3>
                            </header>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="panel panel-metric panel-metric-sm">
                    <div class="panel-body panel-body-inverse">
                        <a class="metric-content metric-icon" href="/admin/products">
                            <div class="value">
                                346
                            </div>
                            <div class="icon">
                                <i class="fa fa-tag"></i>
                            </div>
                            <header>
                                <h3 class="thin">Sản phẩm</h3>
                            </header>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="panel panel-metric panel-metric-sm">
                    <div class="panel-body panel-body-danger">
                        <a class="metric-content metric-icon" href="/admin/articles">
                            <div class="value">
                                2
                            </div>
                            <div class="icon">
                                <i class="fa fa-comments"></i>
                            </div>
                            <header>
                                <h3 class="thin">Bài viết</h3>
                            </header>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel" style="overflow: hidden;">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <h4 class="thin no-margin-top">LƯỢT TRUY CẬP</h4>
                            <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="//stats.bizweb.vn/Report/ReportChart/13947?code=2ba61b072d3efacfc0419247ca6c61bc" style="border: 0; width: 100%; height: 192px;"></iframe>
                            <div id="server-load" class="chart"></div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="thin no-margin-top">CHI TIẾT ĐƠN HÀNG </h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Đơn hàng mới</td>
                                        <td class="text-success semi-bold text-right">
                                            52
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Đơn hàng chưa thanh toán</td>
                                        <td class="text-success semi-bold text-right">
                                            52
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Đơn hàng đã thanh toán chờ gửi hàng</td>
                                        <td class="text-success semi-bold text-right">
                                            4
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Đơn hàng bị hoàn trả</td>
                                        <td class="text-success semi-bold text-right">
                                            0
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Đơn hàng bị hủy</td>
                                        <td class="text-success semi-bold text-right">
                                            3
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel" style="min-height: 423px; overflow: hidden;">
                    <div class="panel-body">
                        <h4 class="thin no-margin-top">NHẬT KÝ HOẠT ĐỘNG</h4>
                        <table class="table">
                            <colgroup>
                                <col>
                                <col style="width:200px;">
                                <col>
                                <col style="width:140px;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Hà Huy</td>
                                    <td>
                                        Cập nhật danh mục: <a href="/admin/collections/361205">Danh mục thủ công</a>.
                                    </td>
                                    <td>
                                        23/04/2016 11:24
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Hà Huy</td>
                                    <td>
                                        Cập nhật danh mục: <a href="/admin/collections/361205">Danh mục thủ công</a>.
                                    </td>
                                    <td>
                                        23/04/2016 11:22
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Hà Huy</td>
                                    <td>
                                        Cập nhật danh mục: <a href="/admin/collections/361205">Danh mục thủ công</a>.
                                    </td>
                                    <td>
                                        23/04/2016 10:56
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Hà Huy</td>
                                    <td>
                                        Cập nhật danh mục: <a href="/admin/collections/361205">Danh mục thủ công</a>.
                                    </td>
                                    <td>
                                        23/04/2016 10:56
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Hà Huy</td>
                                    <td>
                                        Cập nhật danh mục: <a href="/admin/collections/361205">Danh mục thủ công</a>.
                                    </td>
                                    <td>
                                        23/04/2016 11:07
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Hà Huy</td>
                                    <td>
                                        Cập nhật danh mục: <a href="/admin/collections/361205">Danh mục thủ công</a>.
                                    </td>
                                    <td>
                                        23/04/2016 11:07
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Quick add product 1</td>
                                    <td>
                                        Thêm mới sản phẩm: <a href="/admin/products/2339439">123</a>.
                                    </td>
                                    <td>
                                        22/04/2016 13:55
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Đăng nhanh sản phẩm</td>
                                    <td>
                                        Thêm mới sản phẩm: <a href="/admin/products/2339472">san pham 2</a>.
                                    </td>
                                    <td>
                                        22/04/2016 13:58
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Quick add product 1</td>
                                    <td>
                                        Thêm mới sản phẩm: <a href="/admin/products/2339514">21</a>.
                                    </td>
                                    <td>
                                        22/04/2016 14:07
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Hà Huy</td>
                                    <td>
                                        Cập nhật danh mục: <a href="/admin/collections/361205">Danh mục thủ công</a>.
                                    </td>
                                    <td>
                                        23/04/2016 10:55
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="thin no-margin-top">Blog.bizweb.vn</h4>
                        <div id="rssfeedsBlog" class="rssFeedDisplay">
                            <div class="item"><a href="http://blog.bizweb.vn/?p=38256" rel="nofollow" target="_blank" class="titlefield">Mở shop kinh doanh hoa giả nên bắt đầu như thế nào?</a></div><div class="item"><a href="http://blog.bizweb.vn/?p=38242" rel="nofollow" target="_blank" class="titlefield">Bản tin HOT tuần: Uber ra mắt dịch vụ gọi xe ôm tương tự như GrabBike</a></div><div class="item"><a href="http://blog.bizweb.vn/?p=36016" rel="nofollow" target="_blank" class="titlefield">Tất tần tật những điều cần biết khi tạo Zalo page để bán hàng</a></div><div class="item"><a href="http://blog.bizweb.vn/?p=38202" rel="nofollow" target="_blank" class="titlefield">Kinh doanh cây cảnh – đem màu xanh đến không gian làm việc</a></div><div class="item"><a href="http://blog.bizweb.vn/?p=38179" rel="nofollow" target="_blank" class="titlefield">6 loại quảng cáo Facebook kéo người dùng trở lại website bán hàng (P2)</a></div><div class="item"><a href="http://blog.bizweb.vn/?p=38160" rel="nofollow" target="_blank" class="titlefield">Các mối lấy sỉ quần áo ở đâu uy tín?</a></div><div class="item"><a href="http://blog.bizweb.vn/?p=38129" rel="nofollow" target="_blank" class="titlefield">6 loại quảng cáo Facebook kéo người dùng trở lại website bán hàng (P1)</a></div><div class="item"><a href="http://blog.bizweb.vn/?p=20201" rel="nofollow" target="_blank" class="titlefield">3 mẫu tin khuyến mại hiệu quả cho website bán hàng dịp 30/4 – 1/5</a></div><div class="item"><a href="http://blog.bizweb.vn/?p=38075" rel="nofollow" target="_blank" class="titlefield">Tìm nguồn hàng thời trang giá cả bình dân, chất lượng đảm bảo ở đâu?</a></div><div class="item"><a href="http://blog.bizweb.vn/?p=38054" rel="nofollow" target="_blank" class="titlefield">Bản tin HOT tuần: Doanh số thương mại điện tử Việt Nam năm 2015 đạt hơn 4 tỷ USD</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        addDOMLoadedEvent(function () {
            Page();

            $.ajax({
                url: "/admin/services/getrss",
                type: "GET",
                global: false,
                success: function (data) {
                    var template = '<div class="item"><a href="{PostId}" rel="nofollow" target="_blank" class="titlefield">{PostTitle}</a></div>'

                    if (data) {
                        data.forEach(function (post) {
                            var postHtml = template.replace("{PostId}", post.Id);
                            postHtml = postHtml.replace("{PostTitle}", post.Title.Text);
                            $("#rssfeedsBlog").append(postHtml);
                        });
                    }
                }
            });
        });
    </script>
</div>